* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 8vh;
}

body,
html {
	width: 100%;
	/* font-family: "raleway", sans-serif; */
	font-family: "Laro", sans-serif;
	line-height: 1.8em;
	color: black;
	/* background-color: black; */
	background-color: #efefef;
	/* background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(234, 234, 240, 1) 52%,
		rgba(232, 232, 232, 1) 100%
	); */
	/* background: #ece9e6;
	background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); 
	background: linear-gradient(
		to bottom,
		#ffffff,  
		#ece9e6
	);  */
	/* background: #8e9eab;
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
	background: linear-gradient(
		to right,
		#eef2f3,
		#e9f4ff
	); */
}

@media (pointer: fine) {
	.card:hover {
		transform: translateY(-20px);
	}
	.card::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8));
		/* background: linear-gradient(rgba(245, 178, 178, 0.8), rgb(255, 255, 255, 0.8)); */
		z-index: 2;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		opacity: 0;
	}

	.card:hover::before {
		opacity: 1;
	}

	.card:hover .project-info {
		opacity: 1;
		transform: translateY(0px);
	}
}

section {
	margin-bottom: 50px;
}
.section-headings {
	text-align: center;
}

.section-headings h2 {
	padding-top: 30px;
	letter-spacing: 2px;
	font-size: 30px;
}

.section-headings hr {
	width: 15%;
	border: 2px solid #c0c0c0;
	margin: 16px auto 20px auto;
}

.section-headings p {
	color: rgb(170, 168, 168);
	margin-bottom: 35px;
}

/* NAV STYLES START HERE */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: rgba(0, 0, 0, 0);
	transition: 0.6s;
	padding: 20px 70px;
	z-index: 1000;
}

nav.sticky .nav-links li a {
	color: white;
	transition: 1s;
}

nav.sticky .logo .nav-logo a {
	color: white;
	transition: 1s;
}

.sticky {
	padding: 5px 50px;
	background-color: #191919;
}

.logo {
	position: relative;
	color: black;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2em;
	transition: 0.6s;
}

.logo a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-links {
	position: relative;
	margin-left: auto;
	display: flex;
	width: 40%;
	justify-content: space-around;
	align-items: center;
}

.nav-links a {
	position: relative;
	color: black;
	margin: 0 15px;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	transition: 0.6s;
}

.nav-links li {
	position: relative;
	list-style: none;
}

.burger {
	cursor: pointer;
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #ff3b3f;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	nav {
		padding: 0;
	}

	.sticky {
		padding: 0;
	}

	.logo {
		display: block;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #191919;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 1;
		margin-top: 0;
		padding-top: 0;
	}

	.nav-links a {
		color: white;
	}

	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
.active {
	border-bottom: 2px solid white;
	transition: all 0.6s ease;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

nav .nav-links li a:hover {
	color: #b80f0a;
	/* color: #f0e089; */
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

nav.sticky .nav-links li a:hover {
	color: #b80f0a;
	/* color: #f0e089; */
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
/* NAV STYLES END */

/* HOMEPAGE STYLES START HERE */
.banner {
	position: relative;
	top: 0;
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/about2.jpg);
	background-attachment: fixed;
}

@media screen and (max-width: 425px) {
	.banner {
		position: relative;
		top: 0;
		height: 100vh;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/about2.jpg);
		background-attachment: scroll;
	}
}

.showcase {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.showcase > h1 {
	font-size: 60px;
	letter-spacing: 6px;
	line-height: 55px;
	text-align: center;
	padding: 15px;
}

.showcase > h3 {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 55px;
	text-align: center;
	padding: 15px;
}

.showcase > hr {
	width: 20%;
	border: 2px solid #c0c0c0;
}
.social-links {
	width: 220px;
	display: flex;
	justify-content: space-evenly;
}

.social-links > i {
	color: black;
	cursor: pointer;
}

.social-links > a > i {
	text-decoration: none;
	color: black;
}

.social-links > a > i:hover {
	color: #c0c0c0;
	transition: all 0.8s ease;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}
/* HOMEPAGE STYLES END HERE */

/* ABOUT ME PAGE STYLES START HERE */
.abt-container {
	min-height: 100vh;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

@media screen and (max-width: 425px) {
	.abt-container {
		width: 100%;
	}
	.about-image {
		flex: 1 1 300px;
		align-self: center;
		justify-content: center;
		padding-top: 30px;
		padding-left: 0px;
	}
}

.about-image {
	flex: 1 1 300px;
	align-self: center;
	height: 90vh;
	/* padding-right: 5%; */
}

.about-image > img {
	max-width: 100%;
	max-height: 100%;
}

.about-content {
	flex: 1 1 300px;
	min-height: 70vh;
	/* background-color: #34373c; */
	/* justify-content: flex-start; */
	align-self: flex-start;
	/* text-align: center; */
	color: black;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	margin: 15px;
}

.about-content > h2 {
	/* display: flex; */
	/* justify-content: center; */
	align-self: center;
	margin-top: 35px;
}

.about-content > .about-description {
	/* display: flex; */
	/* font-weight: 700; */
	margin-top: auto;
	/* align-self: flex-end; */
}

.about-social {
	/* justify-content: flex-end; */
	margin-top: auto;
}

.about-content > .about-social > ul {
	display: flex;
	justify-content: flex-start;
	/* align-items: flex-end; */
	padding: 0;
	/* margin-top: auto; */
}

.about-content > .about-social > ul > li {
	list-style: none;
	padding-right: 10px;
}

li > a[href="https://www.linkedin.com/in/sadeemk/"] i {
	/* color: black; */
	color: #0e76a8;
}

li > a[href="https://twitter.com/sadeemkhan_"] i {
	/* color: black; */
	color: #1da1f2;
}

li > a[href="https://github.com/Sadeemk"] i {
	color: #f1502f;
}

li > a[href="mailto:imsadeem98@gmail.com"] i {
	color: #d44638;
	transition: all 0.4s ease;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

li > a[href="https://www.linkedin.com/in/sadeemk/"] i:hover {
	color: white;
	background-color: #0e76a8;
	/* border: 1px solid black; */
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
}

li > a[href="https://twitter.com/sadeemkhan_"] i:hover {
	color: white;
	background-color: #1da1f2;
	/* border: 1px solid black; */
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
}

li > a[href="https://github.com/Sadeemk"] i:hover {
	color: white;
	background-color: #f1502f;
	/* border: 1px solid black; */
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
}

li > a[href="mailto:imsadeem98@gmail.com"] i:hover {
	color: white;
	background-color: #d44638;
	/* border: 1px solid black; */
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
/* ABOUT ME STYLES END HERE */

/* EXPERIENCES STYLES START HERE */
.timeline-container {
	min-height: 100vh;
	/* background-color: rgb(250, 250, 250); */
	width: 80%;
	margin-left: auto;
	margin-right: 4%;
	border-left: 2px solid #c0c0c0;
}

.job {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 45px;
}

.job-details {
	flex: 1 1 50%;
}

.job-content {
	flex: 1 1 50%;
	padding: 10px 25px;
	font-size: 14px;
	line-height: 25px;
}

.job-content > p::before {
	content: " - ";
}

@media screen and (max-width: 800px) {
	.job-details {
		flex: 1 1 100%;
	}

	.job-content {
		flex: 1 1 100%;
	}
}

.job-details {
	padding: 10px 25px;
}

.job-details > .job-company {
	text-decoration: none;
	color: black;
	font-size: 17px;
}

.job-details > .job-title {
	font-weight: 400;
	font-size: 14px;
}

.company-img {
	max-width: 70px;
	max-height: 70px;
	position: relative;
	top: 0;
	left: 250px;
}

.job-details > div {
	font-size: 12px;
}

/* .job {
	background-color: #f8eee8;
	background-color: rgba(240, 240, 240, .7);
	border: 1px solid black;
	width: 70%;
	height: 100%;
	margin: 100px auto;
	text-align: center;
} */

/* .job-company {
	padding-top: 15px;
}

.company-img {
	max-width: 75px;
	max-height: 75px;
} */
/* EXPERIENCES STYLES END HERE */

/* PROJECTS STYLES START HERE */
.projects-container {
	display: flex;
	min-height: 100vh;
	width: 95%;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	flex-wrap: wrap;
}

.card {
	width: 280px;
	height: 320px;
	padding: 1.2rem 1rem;
	margin: 1.5%;
	background-color: #ffffff;
	position: relative;
	display: flex;
	align-items: flex-start;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
}

@media screen and (max-width: 620px) {
	.card {
		margin-bottom: 45px;
	}
}

.card:hover {
	transform: translateY(-20px);
}
.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8));
	/* background: linear-gradient(rgba(245, 178, 178, 0.8), rgb(255, 255, 255, 0.8)); */
	z-index: 2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	opacity: 0;
}

.card:hover::before {
	opacity: 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.card .project-info {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 3;
	color: black;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.card:hover .project-info {
	opacity: 1;
	transform: translateY(0px);
}

.card .project-info h1 {
	margin: 0;
	justify-content: flex-start;
}

.card .project-info .project-tools {
	letter-spacing: 1px;
	font-size: 13px;
}

.card .project-info .project-description {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: auto;
}

.card .project-info .project-btn {
	margin-top: auto;
	width: 50%;
	text-decoration: none;
	padding: 0.5rem 1rem;
	background-color: rgb(214, 214, 214);
	color: black;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
}

.card .project-info .project-btn:hover {
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
/* PROJECTS STYLES END HERE */

/* MY SKILLS STYLES START HERE */
.skills-container {
	/* background-color: #ffffff; */
	/* min-height: 500px; */
	min-height: 100vh;
	width: 80%;
	margin: 35px auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10%;
}

div > .skilltype-header {
	margin-bottom: 4px;
	padding-top: 40px;
	font-size: 22px;
}

.skills-container > div > hr {
	border: 1px solid red;
	width: 25%;
	margin: 0 auto 36px auto;
}

.skill-category {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	padding-bottom: 30px;
}

.skill-category > i {
	font-size: 55px;
	color: white;
}

div > .skill-category > i > p {
	padding-top: 13px;
	font-size: 17px;
	color: black;
	font-family: "Laro", sans-serif;
}

@media screen and (max-width: 1024px) {
	.skills-container {
		width: 90%;
	}
}

@media screen and (max-width: 868px) {
	.skills-container {
		/* min-height: 500px; */
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
}
/* MY SKILLS STYLES END HERE */
