/* body {
	background: url(./imgs/sf.jpg) top right no-repeat;
	background-attachment: fixed;
	background-size: cover;
} */

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body,
html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	line-height: 1.8em;
	color: #666;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 1vh;
	padding-left: 1%;
	background-color: black;
}

.logo {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	color: white;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

.nav-links li {
	list-style: none;
}

.burger {
	display: none;
	padding-right: 5%;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: yellow;
	margin: 5px;
}

@media screen and (max-width: 1200px) {
	.nav-links {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	/* body {
		overflow-x: hidden;
	} */
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

/* #menu {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 75px;
	background-color: #dddddd;
	color: #ffffff;
	z-index: 9999;
	display: none;
} */
.pimg1,
.pimg2,
.pimg3 {
	position: relative;
	opacity: 0.80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg1 {
	background-image: url(./imgs/sf.jpg);
	min-height: 100%;
}

.pimg2 {
	background-image: url(./imgs/work.jpg);
	/* min-height: 400px; */
	min-height: 100%;
}

.pimg3 {
	background-image: url(./imgs/projects.jpg);
	/* min-height: 400px; */
	min-height: 100%;
}
